.terminal {
  height: 400px;
  background-color: var(--terminalBgColor);
  color: var(--terminalFontColor);
  padding: 10px 20px;
  overflow-y: scroll;
  position: relative;
}

.terminal__line {
  margin: 0;
  padding: 0;
}

.terminal__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.terminal__branch {
  color: var(--terminalBranchColor);
}

.terminal__way {
  color: var(--terminalWayColor);
}

.terminal__command {
  color: var(--terminalCommandColor);
  margin-bottom: 16px;
}

.terminal__date {
  color: var(--terminalFontColor);
}

.terminal__sha {
  color: var(--terminalWayColor);
}

.terminal__message {
  color: var(--terminalCommandColor);
}

.terminal__list-item {
  margin-bottom: 16px;
}

